<launch>
  <arg name="model" default="$(find cnoid_tank_description)/urdf/cnoid_tank.urdf.xacro"/>

  <param name="use_sim_time" value="true"/>

  <!-- robot description -->
  <param name="/Tank/robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'"/>
   
  <!-- state publisher -->
  <node ns="Tank" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
  
  <!-- load the controllers -->
  <rosparam file="$(find cnoid_tank_control)/config/cnoid_tank_position_control.yaml" command="load"/>
  <rosparam file="$(find cnoid_tank_control)/config/cnoid_tank_diff_drive_control.yaml" command="load"/>
  <node name="tank_controller_spawner" pkg="controller_manager"
		type="spawner" output="screen" respawn="true"
		args="--namespace Tank
              turret_controller
              base_controller"/>  
</launch>
